<!doctype html>
<html>
    <%include ./includes/head%>
    <body class="index">
        <div class="error-mask">
            <img class="error-img" width="100%" src="Images/bg-image/timg.jpg" alt="" />
        </div>
    </body>
    <script>
        window.onload = function(){
            setTimeout(function(){
                window.location.href = '/';
            },2000)
        }
    </script>
</html>